@use "mixins";

$container-max-width-desktop: 1230px;
$container-max-width-tablet: 768px;
$container-max-width-mobile: 360px;

$modal-max-width: 768px;

.container {
  width: $container-max-width-desktop;
  padding: 0 15px;
  margin: 0 auto;

  @include tablet {
    width: $container-max-width-tablet;
  }

  @include mobile {
    // width: $container-max-width-mobile;
    width: 100%;
  }

  &--tablet-fluid {
    @include tablet {
      width: auto;
    }
  }

  &--mobile-fluid {
    @include mobile {
      width: auto;
    }
  }
}
