@use "@shared/ui" as *;

@include block('icon') {
  display: inline-flex;
  width: fit-content;
  padding: $spacing-xs;
  border: none;

  background: none;
  cursor: pointer;

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover:not([disabled]) {
    opacity: 0.8;
  }

  &:active:not([disabled]) {
    opacity: 0.6;
  }

  @include mod('color', 'default') {
    color: $default-color-light;
  }
  @include mod('color', 'primary') {
    color: $primary-color;
  }
  @include mod('color', 'secondary') {
    color: $secondary-color;
  }
  @include mod('color', 'tertiary') {
    color: $tertiary-color;
  }

  @include mod('size', 's') {
    width: 16px;
    height: 16px;
  }
  @include mod('size', 'm') {
    width: 24px;
    height: 24px;
  }
  @include mod('size', 'l') {
    width: 32px;
    height: 32px;
  }
}
