@use "@shared/ui" as *;

@include block('nav-item') {
  position: relative;

  @include mod('active') {
    &::before {
      content: "";
      position: absolute;
      bottom: -12px;
      border-radius: $border-radius-s $border-radius-s 0 0;
      left: 0;
      right: 0;
      height: 4px;
      background-color: $bg-color-default;
    }
  }
}
