@use "@shared/ui" as *;

@include block('icon') {
  display: inline-block;
  user-select: none;

  @include mod('color', 'default') {
    color: $default-color-light;
  }
  @include mod('color', 'primary') {
    color: $primary-color;
  }
  @include mod('color', 'secondary') {
    color: $secondary-color;
  }
  @include mod('color', 'tertiary') {
    color: $tertiary-color;
  }
}
