$bg-color-default: #fff;

$text-color-default: #1d242b;
$line-color-default: #eaecf0;

$primary-color: #0d253f;
$secondary-color: #01b4e4;
$tertiary-color: #90cea1;
$default-color-light: #fff;
$default-color-dark: #000;
