$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-2x1: 24px;
$font-size-3x1: 30px;
$font-size-4x1: 36px;

$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height-tight: 1.25;
$line-height-normal: 1.5;
$line-height-relaxed: 1.75;
