@use "@shared/scss" as *;

@include block("badge") {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xs $spacing-s;
  border-radius: $border-radius-lg;

  color: $default-color-light;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: $line-height-tight;

  @include mod("variant", "primary") {
    background-color: $primary-color;
  }

  @include mod("variant", "secondary") {
    background-color: $secondary-color;
  }

  @include mod("variant", "default-light") {
    background-color: $default-color-light;
  }
}
